	/* Navbar */
      .navbar{
          background-color: #F8F8FF;
      }

    /* Banner */
      .carouselStyle{
          max-height: 660px;
          margin-top: 40px;
          margin-bottom: 60px;
      }

    /* Menu Card */
      h1{
          text-align: center;
      }

    /* Reduce */
      .box-pesanan{
        padding: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .jumlah-pesanan{
        width: 80%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 5px solid #dcdcdc;
        border-radius: 10px;
      }

      .jumlah-pesanan > p{
        font-size: 25px; 
      }

    /* Footer */
      .footer{
          background-color: black;
      }
      .footer h3{
          color: white;
      }
      .footer p{
          color: white;
      }